
# LiteLLM 設定
LITELLM_BASE_URL=https://your-litellm-endpoint/
LITELLM_API_KEY_GEMMA4=your_api_key_here
LITELLM_API_KEY_GEMINI=your_api_key_here
LITELLM_API_KEY_GPT_OSS=your_api_key_here


# Embedding Model 設定
EMBEDDING_PROVIDER=sentence-transformers
EMBEDDING_MODEL=paraphrase-multilingual-MiniLM-L12-v2


# Vector DB 設定
PGVECTOR_CONNECTION_STRING=postgresql://raguser:ragpassword@localhost:5432/ragdb
